.table-1{
    border-collapse: collapse;
    width: 400px;
    text-align: center;
}
.table-1 td, .table-1 th{
    border: 1px solid;
    background-color: gainsboro;
}
.table-1 th{
    background-color: burlywood;
}
.table-1 .last td{
    background-color: green;
}

.table-2{
    border-collapse: collapse;
    width: 400px;
    text-align: center;
}
.table-2 td, .table-2 th{
    border: 1px solid gray;
}

.table-3{
    border-collapse: collapse;
    width: 300px;
    height: 300px;
    text-align: center;
}
.table-3 td, .table-3 th{
    border: 1px solid;
}

.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
}